/*----- Medias Queries -----*/
@media (max-width:50rem){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    
    .hidden{
        display: block !important;
        visibility: visible !important;
    }

    .hamburger {
        display: flex;
        cursor: pointer;
      }
    
     header ul {
        flex-direction: column;
        justify-content: flex-start !important;
        gap: 50px;
        position: absolute;
        top: 14vh;
        right: -100%;
        background-color: var(--background);
        height: 86vh;
        width: 100%;
        align-items: flex-start !important;
        transition: right 0.3s ease-in;
        overflow: auto;
      }
    
      .li__1{
        margin-top: 20%;
      }
      header ul li {
        margin-right: 0px;
      }
    
      .menu-slide {
        right: 0%;
        transition: right 0.3s ease-in;
      }
    
      .cross .bar {
        opacity: 0;
      }
      .cross .bar1{
        width: 100%;
        transform: rotate(-45deg) translate(1px, 7px);
      }
      .cross .bar2{
        width: 100%;
        transform: rotate(45deg) translate(0px, -7px);
      }

      .dropdown-menu {
        background-color: var(--background) !important;
        width: 200px !important;
        height: auto !important;
        top: -4vh;
        left: 120px;
      }

      .dropdown-menu li a {
        font-size: 80%;
      }

    section h1, section h2{
        font-size: 40px;
    }

    .carousel .list .item .author h1{
      width: 100% !important;
      font-weight: bold;
      font-size: 15px !important;
      letter-spacing: 7px;
  }
    .carousel .list .item .title,
    .carousel .list .item .topic{
        font-size: 2.8em;
        font-weight: bold;
        line-height: 1.3em;
        margin: 10% auto;
    }

    #myModal{
        top: 12%;
    }

    #containerr img{
        width: 50% !important;
    }

    #containerr h2{
        font-size: 40px !important;
    }

    .company{
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .text__company, .values{
      width: 95% !important;
      text-align: justify;
    }
    .accordion iframe {
      margin: 10% auto;
    }
    .container .card{
      width: 95% !important;
      height: 70vh !important;
    }
    .container .card .content{
      height: 70vh !important;
      bottom: -70vh;
    }

    .banner img {
      max-width: 100% !important;
    }

    .imgBx img {
      height: 70vh !important;
    }

    #icons__services2 {
      flex-direction: column !important;
    }

    .card__icon2 {
      margin: 1% auto;
      width: 80%;
      height: 20vh;
      padding: 30px 15px;
      border-radius: 10px;
      /* border: 1px solid var(--hover); */
  }
  
  .card__icon2 {
      box-shadow: 3px 3px 30px var(--background);
  }
  
  .card__icon2 i {
      font-size: 40px;
      margin-bottom: 10%;
  }
  .card__icon2 h3 {
      font-size: 30px;
      font-weight: bold;
  }

    .background__card {
      width: 100vw;
      height: auto;
      background: url('../assets/img/mapa3.jpg');
      background-position: center;
  }

    .choose{
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }
    
    .img__choose, .tittles {
      width: 95%;
    }

    .img__choose img {
      width: 80%;
  }

    .location {
      flex-direction: column !important;
    }

    .margin__top {
      margin-top: 0 !important;
    }

    .card__location{
      flex-direction: row !important;
      gap: 15px;
      text-align: start !important;
      width: 95% !important;
      height: 10vh !important;
      padding: 15px !important;
  }
  .card__location i{
      background-color: #3b5998;
      padding: 15px;
      border-radius: 50%;
      font-size: 15px;
  }

  .text__slogan h3{
    margin: 15% auto;
  }

  .name__surname {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #modal-text{
    width: 95%;
  }

  .modal-content-services img {
    width: 95%;
    margin: 5% auto;
  }

  .card__icon2 h3 {
    font-size: 20px !important;
  }

  footer {
    height: 73vh;
  }

  .end__footer {
    flex-direction: column-reverse !important;
  }

  .social__media{
    width: 90%;
    justify-content: center !important;
    gap: 20px;
    margin: 7% auto;
  }

  .copyright-content{
    width: 95%;
    margin: 0 auto !important;
  }

}